@model PaginatedList<WikiNepalData.Model.NepalDataModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="NepalDataModels" asp-action="Index" method="get" style="margin-top:57px;position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
            background-color:#FFFFFF;
           ">
    <p>
        Search: <input type="text" name="SearchString">
        <button type="submit" class="btn btn-success"> Search</button>

        

       

        <label style="padding-left:400px ;"> Found </label> @ViewBag.SearchedData Results( @ViewBag.Time sec) 
    </p>

    <p>
        <a asp-action="Create" class="btn btn-primary" style="">Create New</a>
    </p>
</form>




<table class="table" style="margin-top:165px;">

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @if (item.Image == null)
                    {
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Flag_of_Nepal.svg/492px-Flag_of_Nepal.svg.png" alt="Alternate Text" style="height: 35px" />
                    }
                    else
                    {
                     <img src="@Url.Content(item.Image)" alt="Alternate Text" style="height: 35px"/>    
                        @*@Html.DisplayFor(modelItem => item.Image)*@
                    }


                    <b>
                        @Html.DisplayFor(modelItem => item.Title)
                    </b>
                    <br />

                    <p>
                        @if (item.Paragraph.Length > 250)
                        {
                            @item.Paragraph.Substring(0, 250) <a asp-action="Details" asp-route-id="@item.Id">...continue</a>
                        }
                        else
                            @Html.DisplayFor(modelItem => item.Paragraph)

                    </p>



                </td>

                <td>
                    <br />
                    <b><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></b>
                    <br />
                    <b><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></b>
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>


